# Import Dependencies

In [72]:
import pandas as pd
import datetime as dt
import psycopg2
from psycopg2 import sql
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import subprocess
from sqlalchemy import create_engine

from config import PGEND_POINT
from config import PGDATABASE_NAME
from config import PGUSER_NAME
from config import PGPASSWORD

# AWS RDS Connection

In [3]:
def connect():
    
    # Set up a connection to the postgres server.
    conn_string = "host="+ PGEND_POINT +" port="+ "5432" +" dbname="+ PGDATABASE_NAME +" user=" + PGUSER_NAME \
                  +" password="+ PGPASSWORD
    
    conn = psycopg2.connect(conn_string)
    print("Connected!")

    # Create a cursor object
    cursor = conn.cursor()
    
    return conn, cursor

In [4]:
conn, cursor = connect()

Connected!

## Create cleaned_data table

In [84]:
# Creating the injectionVolumes table
query_cleaned_data = sql.SQL("""CREATE TABLE cleaned_data (
  idusgs INT,
  play_type VARCHAR(50),
  well_type VARCHAR(50),
  form_simple VARCHAR(50),
  tds DECIMAL,
  latitude DECIMAL,
  longitude DECIMAL,
  state VARCHAR(50),
  county VARCHAR(50),
  province VARCHAR(50),
  region VARCHAR(50),
  well_name VARCHAR(100),
  api DECIMAL,
  depth_upper DECIMAL,
  depth_lower DECIMAL,
  period VARCHAR(50),
  date_sample VARCHAR(50),
  ph DECIMAL,
  b DECIMAL,
  ba DECIMAL,
  br DECIMAL,
  hco3 DECIMAL,
  ca DECIMAL,
  cl DECIMAL,
  fetot DECIMAL,
  k DECIMAL,
  li DECIMAL,
  mg DECIMAL,
  na DECIMAL,
  so4 DECIMAL,
  sr DECIMAL,
  zn DECIMAL,
  chargebal DECIMAL,
  basin_category VARCHAR(50)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
);""")

In [85]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_cleaned_data)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

## Create imputed_data table

In [86]:
# Creating the injectionVolumes table
query_imputed_data = sql.SQL("""CREATE TABLE imputed_data (
  idusgs INT,
  play_type VARCHAR(50),
  well_type VARCHAR(50),
  form_simple VARCHAR(50),
  tds DECIMAL,
  latitude DECIMAL,
  longitude DECIMAL,
  state VARCHAR(50),
  county VARCHAR(50),
  province VARCHAR(50),
  region VARCHAR(50),
  well_name VARCHAR(100),
  api DECIMAL,
  depth_upper DECIMAL,
  depth_lower DECIMAL,
  period VARCHAR(50),
  date_sample VARCHAR(50),
  ph DECIMAL,
  b DECIMAL,
  ba DECIMAL,
  br DECIMAL,
  hco3 DECIMAL,
  ca DECIMAL,
  cl DECIMAL,
  fetot DECIMAL,
  k DECIMAL,
  li DECIMAL,
  mg DECIMAL,
  na DECIMAL,
  so4 DECIMAL,
  sr DECIMAL,
  zn DECIMAL,
  chargebal DECIMAL,
  basin_category VARCHAR(50)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
);""")

In [87]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_imputed_data)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

## Create PCA tables

### Anadarko Basin

In [17]:
query_anadarko_pca = sql.SQL("""CREATE TABLE anadarko_pca (
  pc1 DECIMAL,
  pc2 DECIMAL,
  pc3 DECIMAL,
  pc4 DECIMAL,                           
  pc5 DECIMAL,
  pc6 DECIMAL,
  pc7 DECIMAL,
  pc8 DECIMAL,
  pc9 DECIMAL,
  pc10 DECIMAL,
  pc11 DECIMAL,
  pc12 DECIMAL,
  pc13 DECIMAL,
  pc14 DECIMAL,
  pc15 DECIMAL,
  li DECIMAL
);""")

In [18]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_anadarko_pca)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

### Appalachian Basin

In [19]:
query_appalachian_pca = sql.SQL("""CREATE TABLE appalachian_pca (
  pc1 DECIMAL,
  pc2 DECIMAL,
  pc3 DECIMAL,
  pc4 DECIMAL,                           
  pc5 DECIMAL,
  pc6 DECIMAL,
  pc7 DECIMAL,
  pc8 DECIMAL,
  pc9 DECIMAL,
  pc10 DECIMAL,
  pc11 DECIMAL,
  pc12 DECIMAL,
  pc13 DECIMAL,
  pc14 DECIMAL,
  pc15 DECIMAL,
  li DECIMAL
);""")

In [20]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_appalachian_pca)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

### Fort Worth Basin

In [21]:
query_fort_worth_pca = sql.SQL("""CREATE TABLE fort_worth_pca (
  pc1 DECIMAL,
  pc2 DECIMAL,
  pc3 DECIMAL,
  pc4 DECIMAL,                           
  pc5 DECIMAL,
  pc6 DECIMAL,
  pc7 DECIMAL,
  pc8 DECIMAL,
  pc9 DECIMAL,
  pc10 DECIMAL,
  pc11 DECIMAL,
  pc12 DECIMAL,
  pc13 DECIMAL,
  pc14 DECIMAL,
  pc15 DECIMAL,
  li DECIMAL
);""")

In [22]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_fort_worth_pca)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

### Great Plains Basin

In [23]:
query_great_plains_pca = sql.SQL("""CREATE TABLE great_plains_pca (
  pc1 DECIMAL,
  pc2 DECIMAL,
  pc3 DECIMAL,
  pc4 DECIMAL,                           
  pc5 DECIMAL,
  pc6 DECIMAL,
  pc7 DECIMAL,
  pc8 DECIMAL,
  pc9 DECIMAL,
  pc10 DECIMAL,
  pc11 DECIMAL,
  pc12 DECIMAL,
  pc13 DECIMAL,
  pc14 DECIMAL,
  pc15 DECIMAL,
  li DECIMAL
);""")

In [24]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_great_plains_pca)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

### Gulf Coast Basin

In [25]:
query_gulf_coast_pca = sql.SQL("""CREATE TABLE gulf_coast_pca (
  pc1 DECIMAL,
  pc2 DECIMAL,
  pc3 DECIMAL,
  pc4 DECIMAL,                           
  pc5 DECIMAL,
  pc6 DECIMAL,
  pc7 DECIMAL,
  pc8 DECIMAL,
  pc9 DECIMAL,
  pc10 DECIMAL,
  pc11 DECIMAL,
  pc12 DECIMAL,
  pc13 DECIMAL,
  pc14 DECIMAL,
  pc15 DECIMAL,
  li DECIMAL
);""")

In [26]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_gulf_coast_pca)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

### Illinois Basin

In [27]:
query_illinois_pca = sql.SQL("""CREATE TABLE illinois_pca (
  pc1 DECIMAL,
  pc2 DECIMAL,
  pc3 DECIMAL,
  pc4 DECIMAL,                           
  pc5 DECIMAL,
  pc6 DECIMAL,
  pc7 DECIMAL,
  pc8 DECIMAL,
  pc9 DECIMAL,
  pc10 DECIMAL,
  pc11 DECIMAL,
  pc12 DECIMAL,
  pc13 DECIMAL,
  pc14 DECIMAL,
  pc15 DECIMAL,
  li DECIMAL
);""")

In [28]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_illinois_pca)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

### Michigan Basin

In [29]:
query_michigan_pca = sql.SQL("""CREATE TABLE michigan_pca (
  pc1 DECIMAL,
  pc2 DECIMAL,
  pc3 DECIMAL,
  pc4 DECIMAL,                           
  pc5 DECIMAL,
  pc6 DECIMAL,
  pc7 DECIMAL,
  pc8 DECIMAL,
  pc9 DECIMAL,
  pc10 DECIMAL,
  pc11 DECIMAL,
  pc12 DECIMAL,
  pc13 DECIMAL,
  pc14 DECIMAL,
  pc15 DECIMAL,
  li DECIMAL
);""")

In [30]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_michigan_pca)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

### Oklahoma Basin

In [31]:
query_oklahoma_pca = sql.SQL("""CREATE TABLE oklahoma_pca (
  pc1 DECIMAL,
  pc2 DECIMAL,
  pc3 DECIMAL,
  pc4 DECIMAL,                           
  pc5 DECIMAL,
  pc6 DECIMAL,
  pc7 DECIMAL,
  pc8 DECIMAL,
  pc9 DECIMAL,
  pc10 DECIMAL,
  pc11 DECIMAL,
  pc12 DECIMAL,
  pc13 DECIMAL,
  pc14 DECIMAL,
  pc15 DECIMAL,
  li DECIMAL
);""")

In [32]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_oklahoma_pca)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

### Pacific Basin

In [33]:
query_pacific_pca = sql.SQL("""CREATE TABLE pacific_pca (
  pc1 DECIMAL,
  pc2 DECIMAL,
  pc3 DECIMAL,
  pc4 DECIMAL,                           
  pc5 DECIMAL,
  pc6 DECIMAL,
  pc7 DECIMAL,
  pc8 DECIMAL,
  pc9 DECIMAL,
  pc10 DECIMAL,
  pc11 DECIMAL,
  pc12 DECIMAL,
  pc13 DECIMAL,
  pc14 DECIMAL,
  pc15 DECIMAL,
  li DECIMAL
);""")

In [34]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_pacific_pca)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

### Permian Basin

In [35]:
query_permian_pca = sql.SQL("""CREATE TABLE permian_pca (
  pc1 DECIMAL,
  pc2 DECIMAL,
  pc3 DECIMAL,
  pc4 DECIMAL,                           
  pc5 DECIMAL,
  pc6 DECIMAL,
  pc7 DECIMAL,
  pc8 DECIMAL,
  pc9 DECIMAL,
  pc10 DECIMAL,
  pc11 DECIMAL,
  pc12 DECIMAL,
  pc13 DECIMAL,
  pc14 DECIMAL,
  pc15 DECIMAL,
  li DECIMAL
);""")

In [36]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_permian_pca)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

### Rocky Mountain Basin

In [37]:
query_rocky_mountain_pca = sql.SQL("""CREATE TABLE rocky_mountain_pca (
  pc1 DECIMAL,
  pc2 DECIMAL,
  pc3 DECIMAL,
  pc4 DECIMAL,                           
  pc5 DECIMAL,
  pc6 DECIMAL,
  pc7 DECIMAL,
  pc8 DECIMAL,
  pc9 DECIMAL,
  pc10 DECIMAL,
  pc11 DECIMAL,
  pc12 DECIMAL,
  pc13 DECIMAL,
  pc14 DECIMAL,
  pc15 DECIMAL,
  li DECIMAL
);""")

In [38]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_rocky_mountain_pca)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

### Williston Basin

In [39]:
query_williston_pca = sql.SQL("""CREATE TABLE williston_pca (
  pc1 DECIMAL,
  pc2 DECIMAL,
  pc3 DECIMAL,
  pc4 DECIMAL,                           
  pc5 DECIMAL,
  pc6 DECIMAL,
  pc7 DECIMAL,
  pc8 DECIMAL,
  pc9 DECIMAL,
  pc10 DECIMAL,
  pc11 DECIMAL,
  pc12 DECIMAL,
  pc13 DECIMAL,
  pc14 DECIMAL,
  pc15 DECIMAL,
  li DECIMAL
);""")

In [40]:
# Create a cursor object
cur = conn.cursor()

try:
    # Execute your SQL statements here
    cur.execute(query_williston_pca)

    # If everything is successful, commit the transaction
    conn.commit()
    print("Transaction committed successfully!")
except psycopg2.Error as e:
    # If an error occurs, rollback the transaction
    conn.rollback()
    print("Transaction rolled back due to error:", e)
finally:
    # Close the cursor and connection
    cur.close()

Transaction committed successfully!

## Define functions and variables required to load data into the tables

In [77]:
def connect():
    # Set up a connection to the postgres server.
    conn_string = f"postgresql+psycopg2://{PGUSER_NAME}:{PGPASSWORD}@{PGEND_POINT}:5432/{PGDATABASE_NAME}"
    engine = create_engine(conn_string)
    print("Connected to the database!")
    return engine

In [78]:
# Define a function to push DataFrames into PGadmin tables that were created
def load_data_to_table(dataframe, table_name, engine):
    dataframe.to_sql(name=table_name, con=engine, if_exists='append', index=False)
    print(f"Data loaded into {table_name} successfully!")

In [79]:
# Connect to the database
engine = connect()

Connected to the database!

### Create DataFrames

In [80]:
# Create DataFrame for cleaned_data table
df_cleaned_data = pd.read_csv('../../data/df_output/df_cleaned.csv').rename(columns=str.lower)
df_cleaned_data.rename(columns={'playtype': 'play_type', 'welltype': 'well_type', 'formsimple': 'form_simple', 'wellname': 'well_name', 'depthupper': 'depth_upper', 'depthlower': 'depth_lower', 'datesample': 'date_sample'}, inplace=True)

In [81]:
# Create DataFrame for imputed_data table
df_imputed_data = pd.read_csv('../../data/df_output/df_cleaned_imputed.csv').rename(columns=str.lower)
df_imputed_data.rename(columns={'playtype': 'play_type', 'welltype': 'well_type', 'formsimple': 'form_simple', 'wellname': 'well_name', 'depthupper': 'depth_upper', 'depthlower': 'depth_lower', 'datesample': 'date_sample'}, inplace=True)

In [82]:
# Create DataFrames for each Basin's PCA data
df_anadarko_pca = pd.read_csv('../../data/pca_data/byBasin_pca/Anadarko_pca_with_target.csv').rename(columns=str.lower)
df_appalachian_pca = pd.read_csv('../../data/pca_data/byBasin_pca/Appalachian_pca_with_target.csv').rename(columns=str.lower)
df_fort_worth_pca = pd.read_csv('../../data/pca_data/byBasin_pca/Fort Worth_pca_with_target.csv').rename(columns=str.lower)
df_great_plains_pca = pd.read_csv('../../data/pca_data/byBasin_pca/Great Plains_pca_with_target.csv').rename(columns=str.lower)
df_gulf_coast_pca = pd.read_csv('../../data/pca_data/byBasin_pca/Gulf Coast_pca_with_target.csv').rename(columns=str.lower)
df_illinois_pca = pd.read_csv('../../data/pca_data/byBasin_pca/Illinois_pca_with_target.csv').rename(columns=str.lower)
df_michigan_pca = pd.read_csv('../../data/pca_data/byBasin_pca/Michigan_pca_with_target.csv').rename(columns=str.lower)
df_oklahoma_pca = pd.read_csv('../../data/pca_data/byBasin_pca/Oklahoma Platform_pca_with_target.csv').rename(columns=str.lower)
df_pacific_pca = pd.read_csv('../../data/pca_data/byBasin_pca/Pacific_pca_with_target.csv').rename(columns=str.lower)
df_permian_pca = pd.read_csv('../../data/pca_data/byBasin_pca/Permian_pca_with_target.csv').rename(columns=str.lower)
df_rocky_mountain_pca = pd.read_csv('../../data/pca_data/byBasin_pca/Rocky Mountain_pca_with_target.csv').rename(columns=str.lower)
df_williston_pca = pd.read_csv('../../data/pca_data/byBasin_pca/Williston_pca_with_target.csv').rename(columns=str.lower)

## Load Data

### Load cleaned_data table

In [88]:
load_data_to_table(df_cleaned_data, 'cleaned_data', engine)

Data loaded into cleaned_data successfully!

### Load imputed_data table

In [89]:
load_data_to_table(df_imputed_data, 'imputed_data', engine)

Data loaded into imputed_data successfully!

### Load PCA tables

In [94]:
load_data_to_table(df_anadarko_pca, 'anadarko_pca', engine)
load_data_to_table(df_appalachian_pca, 'appalachian_pca', engine)
load_data_to_table(df_fort_worth_pca, 'fort_worth_pca', engine)
load_data_to_table(df_great_plains_pca, 'great_plains_pca', engine)
load_data_to_table(df_gulf_coast_pca, 'gulf_coast_pca', engine)
load_data_to_table(df_illinois_pca, 'illinois_pca', engine)
load_data_to_table(df_michigan_pca, 'michigan_pca', engine)
load_data_to_table(df_oklahoma_pca, 'oklahoma_pca', engine)
load_data_to_table(df_pacific_pca, 'pacific_pca', engine)
load_data_to_table(df_permian_pca, 'permian_pca', engine)
load_data_to_table(df_rocky_mountain_pca, 'rocky_mountain_pca', engine)
load_data_to_table(df_williston_pca, 'williston_pca', engine)

Data loaded into anadarko_pca successfully!
Data loaded into appalachian_pca successfully!
Data loaded into fort_worth_pca successfully!
Data loaded into great_plains_pca successfully!
Data loaded into gulf_coast_pca successfully!
Data loaded into illinois_pca successfully!
Data loaded into michigan_pca successfully!
Data loaded into oklahoma_pca successfully!
Data loaded into pacific_pca successfully!
Data loaded into permian_pca successfully!
Data loaded into rocky_mountain_pca successfully!
Data loaded into williston_pca successfully!